:root {
  background-color: #060023;
}
* {
  background-color: var(background-color);
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
nav {
  background-color: #110046;
  height: 8vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
}

.logoname {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}
.logoname img {
  margin-right: 20px;
}

.links {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
.links div li a {
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.links div {
  border-radius: 20px;
}
.links div:hover {
  background-color: white;
}
.pad a {
  text-decoration: none;
}
.links div li a:hover {
  color: #060023;
}
.landing {
  display: flex;
  padding-top: 100px;
  padding-bottom: 50px;
  margin: 0 100px;
}
.landing > .cont {
  width: 50vw;
  display: block;
  justify-content: left;
  align-items: center;
}
.landing > .pht {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing > .cont > .head {
  font-size: 4rem;
  margin-bottom: 1.5rem;
}
#element {
  color: rgb(173, 92, 249);
  font-size: 3rem;
}
.landing > .cont > span {
  font-size: 2.8rem;
}
.landing > .cont > .line1 {
  margin-top: 25px;
  font-size: 2rem;
}
.landing > .cont > .line2 {
  margin-top: 25px;
  font-size: 2rem;
}
.landing > .cont > h6 {
  font-size: 1rem;
  margin: 10px 0;
}
.landing > .cont > h6 > a {
  color: yellow;
}
.landing > .pht > img {
  height: 60vh;
  border: 0px;
  border-radius: 25px;
  position: absolute;
}
.overview {
  margin: 0px 100px;
  padding: 50px 0;
}
.overview > h2 {
  margin: 20px 0;
  font-size: 4rem;
}
.overview > h6 {
  font-size: 2rem;
}
.buttons {
  display: flex;
  justify-content: center;
  margin: 80px 0;
}
.LinkedIn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 210px;
  height: 50px;
  border: 3.5px solid white;
  border-radius: 50px;
  font-size: 1.5rem;
  margin-right: 80px;
}
.LinkedIn > img {
  margin-right: 8px;
}
.GitHub {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 210px;
  height: 50px;
  border: 3.5px solid white;
  border-radius: 50px;
  font-size: 1.5rem;
}
.GitHub > img {
  margin-right: 8px;
}
.skills {
  margin: 0px 100px;
  padding: 50px 0;
}
.skills > h2 {
  margin: 20px 0;
  font-size: 4rem;
}
.techstack {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.frontend {
  width: 430px;
  height: 470px;
  border: 3px solid white;
  border-radius: 12px;
}
.head_front > h3 {
  font-size: 1.7rem;
  font-weight: 900;
}
.head_front {
  margin: 25px 20px;
}
.front_items {
  display: grid;
  justify-content: center;
  align-items: center;
  grid: auto auto auto / auto auto auto;
  grid-gap: 30px 40px;
}
.fo > h6 {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fo {
  display: grid;
  grid: auto/auto;
  justify-content: center;
  align-items: center;
}
.fo > img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 10px;
}
.backend {
  width: 430px;
  height: 470px;
  border: 3px solid white;
  border-radius: 12px;
}
.tools {
  width: 430px;
  height: 470px;
  border: 3px solid white;
  border-radius: 12px;
}
.workEx {
  margin: 0px 100px;
  padding: 50px 0;
}
.slab1 {
  width: 90vw;
  display: flex;
  justify-content: space-between;
}
.workEx > h2 {
  margin: 20px 0;
  font-size: 4rem;
}
.workEx1 {
  width: 720px;
  height: 550px;
  border-radius: 45px;
  background-color: #110046;
}
.cont {
  padding: 30px;
}
.position {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 10px;
}
.company {
  font-size: 1.5rem;
  opacity: 70%;
  font-weight: 400;
}
.duration {
  font-size: 1.5rem;
  opacity: 70%;
  font-weight: 400;
}
.desc {
  margin: 30px;
  font-size: 1.25rem;
  line-height: 1.7;
  text-align: justify;
  text-justify: inter-word;
}
.filler {
  width: 50%;
  scale: 0.8;
  display: flex;
  justify-content: center;
}
.contact {
  margin: 0px 100px;
  padding: 50px 0;
}
.contact > h2 {
  margin: 20px 0;
  font-size: 4rem;
}
.card {
  width: 1320px;
  height: 50px;
  border-radius: 45px;
  background-color: #110046;
  padding: 40px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.last {
  display: flex;
  justify-content: center;
}
.card p {
  font-size: 1.6rem;
}
@media screen and (max-width: 1366px) {
  nav {
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3rem;
    margin: 0;
    padding: 0;
  }

  .logoname {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .logoname img {
    margin-right: 20px;
  }

  .links {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
  }
  .links div li a {
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .links div {
    border-radius: 20px;
  }
  .links div:hover {
    background-color: white;
  }
  .pad a {
    text-decoration: none;
  }
  .links div li a:hover {
    color: #060023;
  }
  .landing {
    display: flex;
    padding-top: 100px;
    padding-bottom: 50px;
    margin: 0 100px;
  }
  .landing > .cont {
    width: 50vw;
    display: block;
  }
  .landing > .pht {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .landing > .cont > h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }
  #element {
    color: rgb(173, 92, 249);
    font-size: 2rem;
  }
  .landing > .cont > span {
    font-size: 1.8rem;
  }
  .landing > .cont > h6 {
    margin-top: 25px;
    font-size: 1rem;
  }
  .landing > .cont > h6 > a {
    color: yellow;
  }
  .landing > .pht > img {
    height: 40vh;
    border: 0px;
    border-radius: 25px;
    position: absolute;
  }
  .overview {
    margin: 0px 100px;
    padding: 50px 0;
  }
  .overview > h2 {
    margin: 20px 0;
    font-size: 3rem;
  }
  .overview > h6 {
    font-size: 1.8rem;
  }
  .buttons {
    display: flex;
    justify-content: center;
    margin: 80px 0;
  }
  .LinkedIn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 210px;
    height: 50px;
    border: 3.5px solid white;
    border-radius: 50px;
    font-size: 1.5rem;
    margin-right: 80px;
  }
  .LinkedIn > img {
    margin-right: 8px;
  }
  .GitHub {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 210px;
    height: 50px;
    border: 3.5px solid white;
    border-radius: 50px;
    font-size: 1.5rem;
  }
  .GitHub > img {
    margin-right: 8px;
  }
  .skills {
    margin: 0px 100px;
    padding: 50px 0;
  }
  .skills > h2 {
    margin: 20px 0;
    font-size: 3rem;
  }
  .techstack {
    display: block;
  }
  .frontend {
    margin: 40px auto;
    width: 730px;
    height: 380px;
    border: 3px solid white;
    border-radius: 12px;
  }
  .head_front > h3 {
    font-size: 1.7rem;
    font-weight: 900;
  }
  .head_front {
    margin: 25px 20px;
  }
  .front_items {
    display: grid;
    justify-content: center;
    align-items: center;
    grid: auto auto auto / auto auto auto auto auto;
    grid-gap: 30px 40px;
  }
  .fo > h6 {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fo {
    display: grid;
    grid: auto/auto;
    justify-content: center;
    align-items: center;
  }
  .fo > img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 10px;
  }
  .backend {
    margin: 40px auto;
    width: 730px;
    height: 380px;
    border: 3px solid white;
    border-radius: 12px;
  }
  .tools {
    margin: 40px auto;
    width: 730px;
    height: 380px;
    border: 3px solid white;
    border-radius: 12px;
  }
  .workEx {
    margin: 0px 100px;
    padding: 50px 0;
  }
  .slab1 {
    display: flex;
    justify-content: space-between;
  }
  .workEx > h2 {
    margin: 20px 0;
    font-size: 3rem;
  }
  .workEx1 {
    width: 720px;
    height: 550px;
    border-radius: 45px;
    background-color: #110046;
  }
  .cont {
    padding: 30px;
  }
  .position {
    font-size: 1.8rem;
    font-weight: 800;
    margin-bottom: 10px;
  }
  .company {
    font-size: 1.4rem;
    opacity: 70%;
    font-weight: 400;
  }
  .duration {
    font-size: 1.4rem;
    opacity: 70%;
    font-weight: 400;
  }
  .desc {
    margin: 30px;
    font-size: 1.1rem;
    line-height: 1.5;
    text-align: justify;
    text-justify: inter-word;
  }
  .filler {
    width: 50%;
    scale: 0.6;
    display: flex;
    justify-content: center;
  }
  .contact {
    margin: 0px 100px;
    padding: 50px 0;
  }
  .contact > h2 {
    margin: 20px 0;
    font-size: 3rem;
  }
  .card {
    width: 1000px;
    height: 50px;
    border-radius: 45px;
    background-color: #110046;
    padding: 40px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card p {
    font-size: 1rem;
  }
  .last {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 1100px) {
  nav {
    height: 6vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.9rem;
    margin: 0;
    padding: 0;
  }

  .logoname {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .logoname img {
    margin-right: 20px;
    scale: 0.8;
  }

  .links {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
  }
  .links div li a {
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .links div {
    border-radius: 20px;
  }
  .links div:hover {
    background-color: white;
  }
  .pad a {
    text-decoration: none;
  }
  .links div li a:hover {
    color: #060023;
  }
  .landing {
    display: flex;
    padding-top: 100px;
    padding-bottom: 50px;
    margin: 0 100px;
  }
  .landing > .cont {
    width: 50vw;
    display: block;
  }
  .landing > .pht {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .landing > .cont > h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
  #element {
    color: rgb(173, 92, 249);
    font-size: 1.5rem;
  }
  .landing > .cont > span {
    font-size: 1.3rem;
  }
  .landing > .cont > h6 {
    margin-top: 25px;
    font-size: 0.7rem;
  }
  .landing > .cont > h6 > a {
    color: yellow;
  }
  .landing > .pht > img {
    height: 25vh;
    border: 0px;
    border-radius: 25px;
    position: absolute;
  }
  .overview {
    margin: 0px 100px;
    padding: 50px 0;
  }
  .overview > h2 {
    margin: 20px 0;
    font-size: 2.5rem;
  }
  .overview > h6 {
    font-size: 1.3rem;
  }
  .buttons {
    display: flex;
    justify-content: center;
    margin: 80px 0;
  }
  .LinkedIn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 150px;
    height: 40px;
    border: 3.5px solid white;
    border-radius: 50px;
    font-size: 1rem;
    margin-right: 80px;
  }
  .LinkedIn > img {
    margin-right: 8px;
    scale: 0.8;
  }
  .GitHub {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 150px;
    height: 40px;
    border: 3.5px solid white;
    border-radius: 50px;
    font-size: 1rem;
  }
  .GitHub > img {
    margin-right: 8px;
    scale: 0.8;
  }
  .skills {
    margin: 0px 100px;
    padding: 50px 0;
  }
  .skills > h2 {
    margin: 20px 0;
    font-size: 2.5rem;
  }
  .techstack {
    display: block;
  }
  .frontend {
    margin: 40px auto;
    width: 520px;
    height: 460px;
    border: 3px solid white;
    border-radius: 12px;
  }
  .head_front > h3 {
    font-size: 1.5rem;
    font-weight: 900;
  }
  .head_front {
    margin: 25px 20px;
  }
  .front_items {
    display: grid;
    justify-content: center;
    align-items: center;
    grid: auto auto auto / auto auto auto;
    grid-gap: 30px 40px;
  }
  .fo > h6 {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fo {
    display: grid;
    grid: auto/auto;
    justify-content: center;
    align-items: center;
  }
  .fo > img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 10px;
  }
  .backend {
    margin: 40px auto;
    width: 520px;
    height: 460px;
    border: 3px solid white;
    border-radius: 12px;
  }
  .tools {
    margin: 40px auto;
    width: 520px;
    height: 460px;
    border: 3px solid white;
    border-radius: 12px;
  }
  .workEx {
    margin-left: 100px;
    padding: 50px 0;
  }
  .slab1 {
    display: block;
    margin: auto;
  }
  .workEx > h2 {
    margin: 20px 0;
    font-size: 2.5rem;
  }
  .workEx1 {
    width: 600px;
    height: 400px;
    border-radius: 45px;
    background-color: #110046;
  }
  .cont {
    padding: 30px;
  }
  .position {
    font-size: 1.3rem;
    font-weight: 800;
    margin-bottom: 10px;
  }
  .company {
    font-size: 1.1rem;
    opacity: 70%;
    font-weight: 400;
  }
  .duration {
    font-size: 1.1rem;
    opacity: 70%;
    font-weight: 400;
  }
  .desc {
    margin: 30px;
    font-size: 0.9rem;
    line-height: 1.5;
    text-align: justify;
    text-justify: inter-word;
  }
  .filler {
    display: none;
  }
  .contact {
    margin-left: 100px;
    padding: 50px 0;
  }
  .contact > h2 {
    margin: 20px 0;
    font-size: 2.5rem;
  }
  .card {
    width: 500px;
    height: 50px;
    border-radius: 45px;
    background-color: #110046;
    padding: 40px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card p {
    font: 1rem;
  }
}
@media screen and (max-width: 820px) {
  nav {
    height: 6vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.7rem;
    margin: 0;
    padding: 0;
  }

  .logoname {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .logoname img {
    margin-right: 5px;
    scale: 0.6;
  }

  .links {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
  }
  .links div li a {
    width: 80px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .links div {
    border-radius: 20px;
  }
  .links div:hover {
    background-color: white;
  }
  .pad a {
    text-decoration: none;
  }
  .links div li a:hover {
    color: #060023;
  }
  .landing {
    display: flex;
    padding: 20px 0;
    margin: 0 40px;
  }
  .landing > .cont {
    /* width: 50vw; */
    display: block;
  }
  .landing > .pht {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .landing > .cont > h1 {
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
  }
  #element {
    color: rgb(173, 92, 249);
    font-size: 1rem;
  }
  .landing > .cont > span {
    font-size: 0.8rem;
  }
  .landing > .cont > h6 {
    margin-top: 15px;
    font-size: 0.5rem;
  }
  .landing > .cont > h6 > a {
    color: yellow;
  }
  .landing > .pht > img {
    height: 20vh;
    border: 0px;
    border-radius: 25px;
    position: absolute;
  }
  .overview {
    margin: 0px 40px;
    padding: 20px 0;
  }
  .overview > h2 {
    margin: 5px 0;
    font-size: 1.5rem;
  }
  .overview > h6 {
    font-size: 1rem;
  }
  .buttons {
    display: flex;
    justify-content: center;
    margin: 30px 0;
  }
  .LinkedIn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 150px;
    height: 40px;
    border: 3.5px solid white;
    border-radius: 50px;
    font-size: 1rem;
    margin-right: 80px;
  }
  .LinkedIn > img {
    margin-right: 8px;
    scale: 0.8;
  }
  .GitHub {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 150px;
    height: 40px;
    border: 3.5px solid white;
    border-radius: 50px;
    font-size: 1rem;
  }
  .GitHub > img {
    margin-right: 8px;
    scale: 0.8;
  }
  .skills {
    margin: 0px 40px;
    padding: 20px 0;
  }
  .skills > h2 {
    margin: 5px 0;
    font-size: 1.5rem;
  }
  .techstack {
    display: block;
  }
  .frontend {
    margin: 20px auto;
    width: 430px;
    height: 300px;
    border: 3px solid white;
    border-radius: 12px;
  }
  .head_front > h3 {
    font-size: 1rem;
    font-weight: 900;
  }
  .head_front {
    margin: 15px 10px;
  }
  .front_items {
    display: grid;
    justify-content: center;
    align-items: center;
    grid: auto auto auto / auto auto auto auto auto;
    grid-gap: 10px 5px;
  }
  .fo > h6 {
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fo {
    display: grid;
    grid: auto/auto;
    justify-content: center;
    align-items: center;
  }
  .fo > img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 5px;
    scale: 0.6;
  }
  .backend {
    margin: 20px auto;
    width: 430px;
    height: 300px;
    border: 3px solid white;
    border-radius: 12px;
  }
  .tools {
    margin: 20px auto;
    width: 430px;
    height: 300px;
    border: 3px solid white;
    border-radius: 12px;
  }
  .workEx {
    margin: 0 40px;
    padding: 20px 0;
  }
  .slab1 {
    display: block;
    margin: auto;
  }
  .workEx > h2 {
    margin: 20px 0;
    font-size: 1.5rem;
  }
  .workEx1 {
    width: 420px;
    height: 300px;
    border-radius: 45px;
    background-color: #110046;
  }
  .cont {
    padding: 30px;
  }
  .position {
    font-size: 1rem;
    font-weight: 800;
    margin-bottom: 10px;
  }
  .company {
    font-size: 0.8rem;
    opacity: 70%;
    font-weight: 400;
  }
  .duration {
    font-size: 0.8rem;
    opacity: 70%;
    font-weight: 400;
  }
  .desc {
    margin: 30px;
    font-size: 0.6rem;
    line-height: 1.3;
    text-align: justify;
    text-justify: inter-word;
  }
  .filler {
    display: none;
  }
  .contact {
    margin: 0 40px;
    padding: 20px 0;
  }
  .contact > h2 {
    margin: 20px 0;
    font-size: 1.5rem;
  }
  .card {
    width: 300px;
    height: 50px;
    border-radius: 45px;
    background-color: #110046;
    padding: 20px 15px;
    display: block;
    margin: auto;
  }
}
@media screen and (max-width: 515px) {
  nav {
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
  }

  .logoname {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .logoname img {
    margin-right: 0px;
    scale: 0.9;
  }

  .links {
    display: none;
    justify-content: space-around;
    list-style-type: none;
  }
  .links div li a {
    width: 45px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .links div {
    border-radius: 10px;
  }
  .links div:hover {
    background-color: white;
  }
  .pad a {
    text-decoration: none;
  }
  .links div li a:hover {
    color: #060023;
  }
  .landing {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 650px;
    margin: auto;
  }
  .landing > .cont {
    display: block;
    justify-content: left;
    margin: auto;
  }
  .landing > .pht {
    margin: auto;
    margin-top: 7rem;
  }
  .landing > .cont > .head {
    font-size: 2.6rem;
    margin-top: 6.5rem;
  }
  #element {
    color: rgb(173, 92, 249);
    font-size: 1.6rem;
  }
  .landing > .cont > span {
    font-size: 1.6rem;
  }
  .landing > .cont > .line1 {
    font-size: 1.2rem;
  }
  .landing > .cont > .line2 {
    font-size: 1.2rem;
  }
  .landing > .cont > h6 {
    margin-top: 25px;
    font-size: 0.8rem;
  }
  .landing > .cont > h6 > a {
    color: yellow;
  }
  .landing > .pht > img {
    height: 30vh;
    border: 0px;
    border-radius: 25px;
  }
  .overview {
    margin: 0px 20px;
  }
  .overview > h2 {
    margin: 5px 0;
    font-size: 3rem;
  }
  .overview > h6 {
    font-size: 1.2rem;
  }
  .buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .LinkedIn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    width: 140px;
    height: 40px;
    border: 1.5px solid white;
    border-radius: 50px;
    font-size: 1rem;
  }
  .LinkedIn > img {
    margin: 0;
    padding: 0;
    scale: 0.8;
  }
  .GitHub {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    width: 150px;
    height: 40px;
    border: 1.5px solid white;
    border-radius: 50px;
    font-size: 1rem;
  }
  .GitHub > img {
    margin: 0;
    padding: 0;
    scale: 0.8;
  }
  .skills {
    margin: 0px 20px;
    padding: 10px 0;
  }
  .skills > h2 {
    margin: 5px 0;
    font-size: 3rem;
  }
  .techstack {
    display: block;
  }
  .frontend {
    margin: auto;
    margin-top: 20px;
    width: 280px;
    height: 380px;
    border: 2px solid white;
    border-radius: 12px;
  }
  .head_front > h3 {
    font-size: 1.2rem;
    font-weight: 800;
  }
  .head_front {
    margin: 25px;
  }
  .front_items {
    display: grid;
    justify-content: center;
    align-items: center;
    grid: auto auto auto/auto auto auto;
    grid-gap: auto auto;
  }
  .fo > h6 {
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .fo {
    display: grid;
    grid: auto/auto;
    justify-content: center;
    align-items: center;
  }
  .fo > img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    scale: 0.8;
  }
  .backend {
    margin: auto;
    margin-top: 20px;
    width: 280px;
    height: 380px;
    border: 2px solid white;
    border-radius: 12px;
  }
  .tools {
    margin: auto;
    margin-top: 20px;
    width: 280px;
    height: 380px;
    border: 2px solid white;
    border-radius: 12px;
  }
  .workEx {
    margin: 0 20px;
    padding: 10px 0;
  }
  .slab1 {
    display: flex;
    justify-content: center;
    margin: auto;
  }
  .workEx > h2 {
    margin: 10px 0;
    font-size: 3rem;
  }
  .workEx1 {
    width: 330px;
    height: 450px;
    border-radius: 45px;
    background-color: #110046;
  }
  .cont {
    padding: 20px;
  }
  .position {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 5px;
  }
  .company {
    font-size: 0.9rem;
    opacity: 70%;
    font-weight: 400;
  }
  .duration {
    font-size: 0.9rem;
    opacity: 70%;
    font-weight: 400;
  }
  .desc {
    margin: 10px;
    font-size: 0.8rem;
    line-height: 1.5;
    text-align: justify;
    text-justify: inter-word;
  }
  .filler {
    display: none;
  }
  .card {
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card p {
    font-size: 1rem;
  }
}
